
    #yourBtn {
        position: relative;
        top: 150px;
        font-family: calibri;
        width: 150px;
        padding: 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border: 1px dashed #BBB;
        text-align: center;
        background-color: #DDD;
        cursor: pointer;
    }

    input[type=submit] {
        width: 60em;  
        height: 6em;
    }

    input.largerButton { 
        width: 300px; 
        height: 40px;  
    } 

    input.largerCheckbox { 
        /* width: 40px; 
        height: 40px;  */
        transform : scale(2); 
    } 

    input.largerRadiobutton { 
        /* width: 40px; 
        height: 40px;  */
        transform : scale(2); 
        font-size: 40px;
    } 

    input.nameTextbox { 
        width: 30%; 
        height: 30px; 
        font-size: 20px;
        border: 1px solid black;
        border-radius: 4px;
    } 

    input.phoneTextbox { 
        width: 20%; 
        height: 30px; 
        font-size: 20px;
        border: 1px solid black;
        border-radius: 4px;
    } 

    input.emailTextbox { 
        width: 20%; 
        height: 30px; 
        font-size: 20px;
        border: 1px solid black;
        border-radius: 4px;
    } 

    input.titleTextbox { 
        width: 30%; 
        height: 30px; 
        font-size: 20px;
        border: 1px solid black;
        border-radius: 4px;
    } 

    input.smallerTextbox { 
        width: 150px; 
        height: 30px; 
        font-size: 20px;
        border: 1px solid black;
        border-radius: 4px;
    } 

    input.mediumTextbox { 
        width: 20%; 
        height: 30px; 
        font-size: 20px;
        border: 1px solid black;
        border-radius: 4px;
    } 

    input.largerTextbox { 
        width: 50%; 
        height: 30px; 
        font-size: 20px;
        border: 1px solid black;
        border-radius: 4px;
    } 

    input.mediumTextArea { 
        font-size: 20px;
        border: 1px solid black;
        border-radius: 4px;
    } 

    input.mediumLabel { 
        font-size: 20px;
        border: 1px solid black;
        border-radius: 4px;
        width:800px;
        padding:2px;
        background-color:white;
    } 

    
    td.question {
        text-align: left; 
        font-size: 20px;
        font-weight: bold;
        color: black;
    }

    td.comment {
        text-align: left; 
        font-size: 16px;
        font-weight: normal;
        color: black;
    }

    tr.caption {
        vertical-align:bottom; 
        height:50px; 
        width:100%;
    }

    input.plain {
        text-align: center;
        font-size: 18px;
        width: 200px;
        height: 35px;
        border: 1px solid ;
        border-radius: 3px;
        color: #362260;
        cursor: pointer;
    }


    input.large {
        text-align: center;
        font-size: 26px;
        line-height: 9px;
        font-weight: 400;
        padding: 9px 12px 7px 12px;
        width: 250px;
        height: 55px;
        border: 1px solid ;
        border-radius: 3px;
        color: #362260;
        cursor: pointer;
        background-color: #D4D0C8;
    }



    input.file.medium {
        text-align: center;
        font-size: 18px;
        line-height: 9px;
        font-weight: 400;
        padding: 9px 12px 9px 12px;
        width: 150px;
        height: 55px;
        border: 1px solid ;
        border-radius: 3px;
        color: #362260;
        cursor: pointer;
        background-color: #D4D0C8;
    }
    
    
    input.file.resize {
        text-align: center;
        font-size: 18px;
        line-height: 12px;
        font-weight: 400;
        padding: 2px 2px 2px 2px;
        display: inline-block;
        height: 155px;
        border: 1px solid ;
        border-radius: 3px;
        color: #362260;
        cursor: pointer;
        background-color: #D4D0C8;
    }

    input.medium {
        text-align: center;
        font-size: 18px;
        line-height: 9px;
        font-weight: 400;
        padding: 9px 12px 7px 12px;
        width: 150px;
        height: 35px;
        border: 1px solid ;
        border-radius: 3px;
        color: #362260;
        cursor: pointer;
        background-color: #D4D0C8;
    }
    
    
    input.small {
        text-align: center;
        font-size: 12px;
        line-height: 9px;
        font-weight: 400;
        padding: 9px 12px 7px 12px;
        width: 100px;
        height: 25px;
        border: 1px solid ;
        border-radius: 3px;
        color: #362260;
        cursor: pointer;
        background-color: #D4D0C8;
    }


    input.resize {
        text-align: center;
        font-size: 18px;
        line-height: 9px;
        font-weight: 400;
        padding: 9px 12px 7px 12px;
        display: inline-block;
        height: 35px;
        border: 1px solid ;
        border-radius: 3px;
        color: #362260;
        cursor: pointer;
        background-color: #D4D0C8;
    }

    input.resizefilepicker {
        text-align: center;
        font-size: 18px;
        line-height: 9px;
        font-weight: 400;
        padding: 9px 12px 7px 12px;
        display: inline-block;
        width: 500px;
        height: 45px;
        border: 1px solid ;
        border-radius: 3px;
        color: #362260;
        cursor: pointer;
        background-color: #D4D0C8;
    }

    button.medium {
        text-align: center;
        font-size: 18px;
        line-height: 9px;
        font-weight: 400;
        padding: 9px 12px 7px 12px;
        width: 150px;
        height: 35px;
        border: 1px solid ;
        border-radius: 3px;
        color: #362260;
        cursor: pointer;
        background-color: #D4D0C8;
    }
    
    button.resize {
        text-align: center;
        font-size: 18px;
        line-height: 9px;
        font-weight: 400;
        padding: 9px 12px 7px 12px;
        display: inline-block;
        height: 35px;
        border: 1px solid ;
        border-radius: 3px;
        color: #362260;
        cursor: pointer;
        background-color: #D4D0C8;
    }
    
